.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.disabled {
  opacity: 0.5;
}

.sprite {
  width: 120px;
  opacity: 0;
  transition: opacity 0.2s;
}

.wag {
  opacity: 1;
  animation: waggle 0.4s ease-in-out;
}
.cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps proportions */
  pointer-events: none; /* prevents blocking clicks */
}

@keyframes waggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
